---
# {{ ansible_managed }}
rexray:
  logLevel: warn
  osDrivers:
{% for driver in rexray_os_drivers %}
  - {{ driver }}
{% endfor %}
  volumeDrivers:
{% for driver in rexray_volume_drivers %}
  - {{ driver }}
{% endfor %}
  storageDrivers:
{% for driver in rexray_storage_drivers %}
  - {{ driver }}
{% endfor %}
{% if "ec2" in rexray_storage_drivers %}
aws:
  accessKey: {{ rexray_aws_accesskey }}
  secretKey: {{ rexray_aws_secretkey }}
  region: {{ rexray_aws_region }}
{% endif %}
{% if "gce" in rexray_storage_drivers %}
gce:
  keyfile: {{ rexray_gce_keyfile }}
{% endif %}
{% if "isilon" in rexray_storage_drivers %}
isilon:
  endpoint: {{ rexray_isilon_endpoint }}
  insecure: {{ rexray_isilon_insecure }}
  username: {{ rexray_isilon_username }}
  password: {{ rexray_isilon_password }}
  volumePath: {{ rexray_isilon_volumePath }}
  nfsHost: {{ rexray_isilon_nfsHost }}
{% endif %}
{% if "openstack" in rexray_storage_drivers %}
openstack:
  authURL: {{ rexray_os_authurl }}
  userID: {{ rexray_os_userid }}
  userName: {{ rexray_os_username }}
  password: {{ rexray_os_password }}
  tenantID: {{ rexray_os_tenantid }}
  tenantName: {{ rexray_os_tenantname }}
  domainID: {{ rexray_os_domainid }}
  domainName: {{ rexray_os_domainname }}
  regionName: {{ rexray_os_regionname }}
  availabilityZoneName: {{ rexray_os_availabilityzonename }}
{% endif %}
{% if "rackspace" in rexray_storage_drivers %}
rackspace:
  authURL: {{ rexray_rax_authurl }}
  userID: {{ rexray_rax_userid }}
  userName: {{ rexray_rax_username }}
  password: {{ rexray_rax_password }}
  tenantID: {{ rexray_rax_tenantid }}
  tenantName: {{ rexray_rax_tenantname }}
  domainID: {{ rexray_rax_domainid }}
  domainName: {{ rexray_rax_domainname }}
{% endif %}
{% if "scaleio" in rexray_storage_drivers %}
scaleio:
  endpoint: {{ rexray_sio_endpoint }}
  insecure: {{ rexray_sio_insecure }}
  useCerts: {{ rexray_sio_usecerts }}
  userName: {{ rexray_sio_username }}
  password: {{ rexray_sio_password }}
  systemID: {{ rexray_sio_systemid }}
  systemName: {{ rexray_sio_systemname }}
  protectionDomainID: {{ rexray_sio_protectiondomainid }}
  protectionDomainName: {{ rexray_sio_protectiondomainname }}
  storagePoolID: {{ rexray_sio_storagepoolid }}
  storagePoolName: {{ rexray_sio_storagepoolname }}
{% endif %}
{% if "virtualbox" in rexray_storage_drivers %}
virtualbox:
  endpoint: {{ rexray_vbox_endpoint }}
  volumePath: {{ rexray_vbox_volume_path }}
  userName: {{ rexray_vbox_user }}
  password: {{ rexray_vbox_pass }}
  tls: {{ rexray_vbox_tls }}
  controllerName: {{ rexray_vbox_controller_name }}
  localMachineNameOrId: {{ rexray_vbox_machine }}
{% endif %}
{% if "vmax" in rexray_storage_drivers %}
vmax:
  smisHost: {{ rexray_vmax_smisHost }}
  smisPort: {{ rexray_vmax_smisPort }}
  insecure: {{ rexray_vmax_insecure }}
  username: {{ rexray_vmax_username }}
  password: {{ rexray_vmax_password }}
  sid: {{ rexray_vmax_sid }}
  volumePrefix: {{ rexray_vmax_volumePrefix }}
  storageGroup: {{ rexray_vmax_storageGroup }}
  mode: {{ rexray_vmax_mode }}
{% if "vmh" == rexray_vmax_mode %}
  vmh:
    host: {{ rexray_vmax_vmh.host }}
    username: {{ rexray_vmax_vmh.username }}
    password: {{ rexray_vmax_vmh.password }}
    insecure: {{ rexray_vmax_vmh.insecure }}
{% endif %}
{% endif %}
{% if "xtremio" in rexray_storage_drivers %}
xtremio:
  endpoint:
  userName:
  password:
  insecure:
  deviceMapper:
  multipath:
  remoteManagement:
{% endif %}
