---
# {{ ansible_managed }}
rexray:
  logLevel: warn
  osDrivers:
{% for driver in rexray_os_drivers %}
  - {{ driver }}
{% endfor %}
  volumeDrivers:
{% for driver in rexray_volume_drivers %}
  - {{ driver }}
{% endfor %}
  storageDrivers:
{% for driver in rexray_storage_drivers %}
  - {{ driver }}
{% endfor %}
{% if "ec2" in rexray_storage_drivers %}
aws:
  accessKey: {{ rexray_aws_accesskey }}
  secretKey: {{ rexray_aws_secretkey }}
  region: {{ rexray_aws_region }}
{% endif %}
{% if "gce" in rexray_storage_drivers %}
gce:
  keyfile: {{ rexray_gce_keyfile }}
{% endif %}
{% if "isilon" in rexray_storage_drivers %}
isilon:
  endpoint: {{ rexray_isilon_endpoint }}
  insecure: {{ rexray_isilon_insecure }}
  username: {{ rexray_isilon_username }}
  password: {{ rexray_isilon_password }}
  volumePath: {{ rexray_isilon_volumePath }}
  nfsHost: {{ rexray_isilon_nfsHost }}
{% endif %}
{% if "openstack" in rexray_storage_drivers %}
openstack:
  authURL:
  userID:
  userName:
  password:
  tenantID:
  tenantName:
  domainID:
  domainName:
  regionName:
  availabilityZoneName:
{% endif %}
{% if "rackspace" in rexray_storage_drivers %}
rackspace:
  authURL:
  userID:
  userName:
  password:
  tenantID:
  tenantName:
  domainID:
  domainName:
{% endif %}
{% if "scaleio" in rexray_storage_drivers %}
scaleio:
  endpoint:
  insecure:
  useCerts:
  userName:
  password:
  systemID:
  systemName:
  protectionDomainID:
  protectionDomainName:
  storagePoolID:
  storagePoolName:
{% endif %}
{% if "virtualbox" in rexray_storage_drivers %}
virtualbox:
  endpoint: {{ rexray_vbox_endpoint }}
  volumePath: {{ rexray_vbox_volume_path }}
  userName: {{ rexray_vbox_user }}
  password: {{ rexray_vbox_pass }}
  tls: {{ rexray_vbox_tls }}
  controllerName: {{ rexray_vbox_controller_name }}
  localMachineNameOrId: {{ rexray_vbox_machine }}
{% endif %}
{% if "vmax" in rexray_storage_drivers %}
vmax:
  smisHost:
  smisPort:
  insecure:
  username:
  password:
  sid:
  volumePrefix:
  storageGroup:
  mode:
  vmh:
    host:
    username:
    password:
    insecure:
{% endif %}
{% if "xtremio" in rexray_storage_drivers %}
xtremio:
  endpoint:
  userName:
  password:
  insecure:
  deviceMapper:
  multipath:
  remoteManagement:
{% endif %}
